<div class="hero-unit">
<h1>ブリ切り身</h1>
</div>

<img src="http://img.cpcdn.com/recipes/1012764/280/15ecbb2f22d6e0ab7aa374abc9df9a7f.jpg?u=1845293&p=1348990478", width="500" , height="400"> </img>

<!-- 
<p>
<%= @msg %>
</p>
-->
