<div class="hero-unit">
  <h2>今日のごはんがここにある。</h2>
</div>
<div class="row-fluid">
  <div class="span4">
    <h2>簡単に発見</h2>
    <p>COOKPADや楽天レシピのレシピを人気順に並べています。現在は、つくレポ数順に並べています。</p>
  </div><!--/span-->
  <div class="span4">
    <h2>手間なく閲覧</h2>
    <p>全てを１ページに集約することで、次へボタンを押すことなく、レシピを閲覧することができます。</p>
  </div><!--/span-->
  <div class="span4">
    <h2>友達と交流</h2>
    <p>Facebookと連携させる予定です。（構築中）</p>
  </div><!--/span-->
</div><!--/row-fluid-->