<div id="wrapper">
	<div id="columns">
		<% @recipes.each do |recipe| %>
		<div class="pin">
			<%= image_tag(recipe.image_ulr) %>
			<p>
				<%= recipe.title %><br />
				[概要] <%= recipe.summary %><br />
				[つくレポ数] <%= recipe.num_tsukurepo %><br />
			</p>
		</div>
		<% end %>
	</div>
</div>
