<div id="wrapper">
	<h3>構築中</h3>
	<div id="columns">
		<% @recipes.each do |recipe| %>
		<div class="pin">
			<%= link_to image_tag(recipe.image_ulr), recipe.ulr, :target=>["_blank"] %>
			<p>
				<%= recipe.title %><br />
				[概要] <%= recipe.summary %><br />
				[つくレポ数] <%= recipe.num_tsukurepo %><br />
			</p>
		</div>
		<% end %>
	</div>
</div>
